/* Generals */

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header-boolando: #ff6900;
	--color-white: #ffffff;
	--color-discount: #ff0000;
	--color-sustainability: #008000;
	--color-black: #1a1a1a;
}

.debug{
    border: 2px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* <i class="fa-solid fa-heart"></i> cuore pieno */

/* FLEX UTILITIES */

.row-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

/* Header */

header{
    background-color: var(--color-header-boolando);
}

.gender a{
    color: var(--color-white);
    text-decoration: none;
}
.logo{
    width: 20%;
}
.logo img{
    max-width: 100%;    

}

.nav-icons a i {
    color: var(--color-white);
    text-decoration: none;
}





/* _____________________________________________ */



/* Main */
main{
    background-color: var(--color-white);
}









/* _____________________________________________ */


/* Footer */
footer{
    background-color: var(--color-black);
}








/* _____________________________________________ */