/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header-boolando: #ff6900;
	--color-white: #ffffff;
	--color-discount: #ff0000;
	--color-sustainability: #008000;
	--color-black: #1a1a1a;
    font-family: sans-serif;
}

.debug{
    border: 2px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* <i class="fa-solid fa-heart"></i> cuore pieno */

/* FLEX UTILITIES */

.row-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.items-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
}

/* Header */

header{
    background-color: var(--color-header-boolando);
    width: 100%;
    position: fixed;
    height: 65px;
    z-index: 10;
}

.gender a{
    color: var(--color-white);
    text-decoration: none;
}
.logo{
    width: 150px;
}
.logo img{
    max-width: 100%;    

}

.nav-icons a i {
    color: var(--color-white);
    text-decoration: none;
}

.padding-header{
    padding: 10px 0;
}
.padding-right-header{
    padding-right: 10px;
}
.padding-left-header{
    padding-left: 10px;
}


/* _____________________________________________ */



/* Main */
main{
    background-color: var(--color-white);
}

.card-image{
    width: 100%;
    position: relative;
}

.card-image img{
    width: 100%;
}

.card{
    width: calc(100% / 3 - 60px);
    padding-bottom: 60px;
}

.items{
    padding-top: 120px;
}

.second-image{
    display: none;
}

.card:hover .second-image{
    display: block;
}

.card:hover .first-image{
    display: none;
}
.brand{
    font-size: 0.85em;
    color: gray;
}

.promotional-price{
    color: var(--color-discount);
}

.old-price{
    text-decoration: line-through;
    color: gray;
}

.discount-badge{
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: var(--color-discount);
    color: var(--color-white);
    padding: 5px 10px;
}

.sustainability-badge{
    position: absolute;
    bottom: 50px;
    left: 65px;
    background-color: var(--color-sustainability);
    color: var(--color-white);
    padding: 5px 10px;
}

.heart{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    padding: 15px;
}

.heart:hover{
    color: var(--color-discount);
    cursor: pointer;
}

/* _____________________________________________ */


/* Footer */
footer{
    background-color: var(--color-black);
}








/* _____________________________________________ */